<div class="container-fluid mt-2">
    <!-- As a link -->
    <nav class="navbar navbar-light" style="background-color: #a6d6f8;">
        <h4 style="font-weight: 700;color:rgb(236, 105, 17);">FACILITIES</h4>
        <p> <a routerLink="/home">Home</a> >Facilities </p>
    </nav>
</div>

<div class="container">
    <p style="text-align: justify;" class="mt-3">Having been competitive sports persons themselves, the founders and mentors of AKS are well-placed to understand the huge impact that the right infrastructure, coaching, equipment and exposure can have on the performance of an athlete on the global
        stage. AKS was set up with this vision of providing facilities to promote excellence in sport, and we pride ourselves on the quality of infrastructure we provide across all our sports venues.
    </p>
</div>

<div class="container mt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="./assets/Images/sport40.jpg" class="img-fluid" alt="">
                <h6 class="mt-2">BADMINTON</h6>
                <p style="text-align: justify;">16 Badminton Courts built to global standards for the purposes of training, practice and hosting national & international tournaments.</p>
            </div>
            <div class="col-sm">
                <img src="./assets/Images/sport41.jpg" class="img-fluid" alt="">
                <h6 class="mt-2">CRICKET</h6>
                <p style="text-align: justify;">A full-sized cricket ground, 12 outdoor pitches, 12 indoor pitches and a nursery ground</p>
            </div>
            <div class="col-sm">
                <img src="./assets/Images/sport42.jpg" class="img-fluid" alt="">
                <h6 class="mt-2">SWIMMING</h6>
                <p style="text-align: justify;">A top-of-the-line 50 metre, 10-lane pool built by Myrtha Pools, Official FINA Partner, and supplier of aquatics facilities for FINA World Championships and Olympic Games, along with a heated 20-metre indoor pool for beginners.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="./assets/Images/sport43.jpg" class="img-fluid" alt="">
                <h6 class="mt-2">TENNIS</h6>
                <p style="text-align: justify;">5 covered hard courts for recreational and professional players, and 5 quick-start courts specially designed for children.</p>
            </div>
            <div class="col-sm">
                <img src="./assets/Images/sport44.jpg" class="img-fluid" alt="">
                <h6 class="mt-2">FOOTBALL</h6>
                <p style="text-align: justify;">An international size flood-lit and FIFA-approved artificial turf football ground, with 5-a-side training turf for beginners.</p>
            </div>
            <div class="col-sm">
                <img src="./assets/Images/sport45.jpg" class="img-fluid" alt="">
                <h6 class="mt-2">SQUASH</h6>
                <p style="text-align: justify;">4 world-class glass-backed squash courts with an overhead viewing gallery.</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <div class="card-body">
                    <img src="./assets/Images/sport29.jpg" alt="..." class="img-fluid">
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text" style="text-align: justify;">Champions don’t wait for things to happen; champions find their own ways to win, fair and square. They don’t wait for success to come to them; they go after success. That’s the hallmark of a champion.</p>
                    <p class="card-text" style="text-align: right;"><small class="text-muted">-Akshay Kumar</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <div class="card-body">
                    <img src="./assets/Images/sport30.jpg" alt="..." class="img-fluid">
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text" style="text-align: justify;">When you play for the love of the game, you play with respect and humility. You play for the team and for everyone who has made it possible for you to step out on the field. That’s what sport is about and that’s what makes you a true
                        sportsperson.
                    </p>
                    <p class="card-text" style="text-align: right;"><small class="text-muted">-Rahul Dravid</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <div class="card-body">
                    <img src="./assets/Images/sport31.jpg" alt="..." class="img-fluid">
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text" style="text-align: justify;">Infrastructure is the backbone for development in any field. The Padukone – Dravid Centre for Sports Excellence was built to provide Indian sport with the world class infrastructure it needs to produce sportsperson of the highest caliber.
                        Playing sport is also the foundation on which we can promote a fit, balanced lifestyle for all, ensuring we become a healthier nation.</p>
                    <p class="card-text" style="text-align: right;"><small class="text-muted">-Padhma Shree</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="./assets/Images/sport76.png" class="img-fluid">
            </div>
            <div class="col-sm">
                <img src="./assets/Images/sport77.png" class="img-fluid">
            </div>
            <div class="col-sm">
                <img src="./assets/Images/sport78.png" class="img-fluid" style="position: relative; left: 120px;">
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-sm">
                <img src="./assets/Images/sport79.png" class="img-fluid">
            </div>
            <div class="col-sm">
                <img src="./assets/Images/sport80.png" class="img-fluid" style="position: relative; left: 50px;">
            </div>
            <div class="col-sm">
                <img src="./assets/Images/sport81.png" class="img-fluid" style="position: relative; left: 80px;">
            </div>
        </div>
    </div>

</div>


<img src="./assets/Images/sport82.png" class="img-fluid mt-5">

<!-- footer Starts -->
<footer class="page-footer font-small mdb-color pt-4 bg-dark">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 text-white">
                <h6 class="text-uppercase mb-4 font-weight-bold">AKS ACADEMY</h6>
                <p style="text-align:justify;">The Akshay Kumar Center for Sports Excellence (AKS) is Indias's finisted integrated multi-sport complex, built to encourage sports at every level.</p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">


            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 text-white">
                <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                <p>
                    <a routerLink="/home">Home</a>
                </p>
                <p>
                    <a routerLink="/about">About</a>
                </p>
                <p>
                    <a routerLink="/facilities">Facilities</a>
                </p>
                <p>
                    <a routerLink="/academies">Academies</a>
                </p>

                <p>
                    <a routerLink="/club">The Club@AKS</a>
                </p>

                <p>
                    <a routerLink="/contact">Contact</a>
                </p>
                <p>
                    <a routerLink="/venues">Venues</a>
                </p>


            </div>

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 text-white">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                <p>
                    <i class="fas fa-map-marker-alt mr-3"></i>Banglore, BLR 555001, INDIA.</p>
                <p>
                    <i class="far fa-envelope mr-3"></i><a routerLink="">info@gmail.com</a></p>
                <p>
                    <i class="fas fa-phone-alt mr-3"></i>+ 91 0101010101</p>
                <p>
                    <i class="fas fa-phone-alt mr-3"></i>+ 91 0101010101</p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Footer links -->

        <hr>

        <!-- Grid row -->
        <div class="row d-flex align-items-center">

            <!-- Grid column -->
            <div class="col-md-7 col-lg-8">
                <div class="clearfix"></div>
                <!--Copyright-->
                <div class="footer-copyright text-right py-3 text-white">Akshay Kumar © 2020 Copyright:
                </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0">

                <!-- Social buttons -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" routerLink="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" routerLink="">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" routerLink="">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" routerLink="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>

                        <button *ngIf="isShow" (click)="gotoTop()" style="background-color: #FF461F;position: relative; left: 100px;height: 50px; width:50px; border-radius: 50%; outline: none; "><i class="fas fa-arrow-up"></i></button>

                    </ul>
                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

</footer>

<!-- footer ends -->