<div class="container-fluid mt-2">
    <!-- As a link -->
    <nav class="navbar navbar-light" style="background-color: #a6d6f8;">
        <h4 style="font-weight: 700;color:rgb(236, 105, 17);">CONTACT</h4>
        <p> <a routerLink="/home">Home</a> >Contact </p>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h4>ARE YOU AN ATHLETE OR SPORTS TEAM LOOKING TO TRAIN?</h4>
        </div>
        <div class="col-sm">
            <h4>ARE YOU A BRAND LOOKING TO BE INVOLVED IN SPORT?</h4>
        </div>
        <div class="col-sm">
            <h4>ARE YOU LOOKING TO WRITE OR PUBLISH CONTENT ABOUT AKS?</h4>
        </div>
    </div>
    <h6>
        <p style="text-align: center;"><i class="far fa-envelope mr-3"></i>Email Us at:<a routerLink=""> info@gmail.com</a></p>
        <p style="text-align: center;"><i class="fas fa-phone-alt mr-3"></i>Contact Us at: +91 0101010101</p>
    </h6>
</div>

<!-- grid starts -->
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <!-- form starts -->
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Password</label>
                        <input type="password" class="form-control" id="inputPassword4">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Address 2</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">State</label>
                        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>Andhra Pradesh   </option>
          <option>Arunachal Pradesh   </option>
          <option>Assam  </option>
          <option>Bihar  </option>
          <option>Chhattisgarh  </option>
          <option>Goa  </option>
          <option>Gujarat   </option>
          <option>Haryana   </option>
          <option>Himachal Pradesh  </option>
          <option>Jammu and Kashmir   </option>
          <option>Jharkhand   </option>
          <option>Karnataka  </option>
          <option>Kerala   </option>
          <option>Madhya Pradesh  </option>
          <option>Maharashtra  </option>
          <option>Manipur   </option>
          <option>Meghalaya   </option>
          <option>Mizoram  </option>
          <option>Nagaland   </option>
          <option>Odisha   </option>
          <option>Punjab  </option>
          <option>Rajasthan   </option>
          <option>Sikkim   </option>
          <option>Tamil Nadu   </option>
          <option>Telangana   </option>
          <option>Tripura  </option>
          <option>Uttar Pradesh   </option>
          <option>Uttarakhand  </option>
          <option>West Bengal   </option>
        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
        </div>
        <!-- form ends -->


        <div class="col">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.5884470664264!2d77.55085751482225!3d12.998154190838486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3d8f9c6ee617%3A0xfd47c10d7856db34!2sNavarang%20Circle%2C%20Rajajinagar%2C%20Bengaluru%2C%20Karnataka%20560010!5e0!3m2!1sen!2sin!4v1584125816124!5m2!1sen!2sin"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="w-100"></div>
    </div>
</div>

<!-- grid ends -->

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h5>CAREERS AT AKS</h5>
            <p style="text-align:justify">
                Are you truly passionate about sport? Does a career in sport excite you? Then we think you could be the person we are looking for. If you believe you can add value to our facility with your skills, please email us your CV and a brief letter of introduction
                to info@com.in detailing why you are the person for the job. If your CV excites us, be prepared to hear from us.
            </p>
        </div>
        <div class="col">
            <img src="./assets/Images/sport46.jpg" alt="">
        </div>
    </div>
</div>
<!-- grid ends -->



<div class="container mt-5">

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="./assets/Images/sport76.png" class="img-fluid">
            </div>
            <div class="col-sm">
                <img src="./assets/Images/sport77.png" class="img-fluid">
            </div>
            <div class="col-sm">
                <img src="./assets/Images/sport78.png" class="img-fluid" style="position: relative; left: 120px;">
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-sm">
                <img src="./assets/Images/sport79.png" class="img-fluid">
            </div>
            <div class="col-sm">
                <img src="./assets/Images/sport80.png" class="img-fluid" style="position: relative; left: 50px;">
            </div>
            <div class="col-sm">
                <img src="./assets/Images/sport81.png" class="img-fluid" style="position: relative; left: 80px;">
            </div>
        </div>
    </div>

</div>


<img src="./assets/Images/sport82.png" class="img-fluid mt-5">

<!-- footer Starts -->
<footer class="page-footer font-small mdb-color pt-4 bg-dark">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 text-white">
                <h6 class="text-uppercase mb-4 font-weight-bold">AKS ACADEMY</h6>
                <p style="text-align:justify;">The Akshay Kumar Center for Sports Excellence (AKS) is Indias's finisted integrated multi-sport complex, built to encourage sports at every level.</p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">


            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 text-white">
                <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                <p>
                    <a routerLink="/home">Home</a>
                </p>
                <p>
                    <a routerLink="/about">About</a>
                </p>
                <p>
                    <a routerLink="/facilities">Facilities</a>
                </p>
                <p>
                    <a routerLink="/academies">Academies</a>
                </p>

                <p>
                    <a routerLink="/club">The Club@AKS</a>
                </p>

                <p>
                    <a routerLink="/contact">Contact</a>
                </p>
                <p>
                    <a routerLink="/venues">Venues</a>
                </p>


            </div>

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 text-white">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                <p>
                    <i class="fas fa-map-marker-alt mr-3"></i>Banglore, BLR 555001, INDIA.</p>
                <p>
                    <i class="far fa-envelope mr-3"></i><a routerLink="">info@gmail.com</a></p>
                <p>
                    <i class="fas fa-phone-alt mr-3"></i>+ 91 0101010101</p>
                <p>
                    <i class="fas fa-phone-alt mr-3"></i>+ 91 0101010101</p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Footer links -->

        <hr>

        <!-- Grid row -->
        <div class="row d-flex align-items-center">

            <!-- Grid column -->
            <div class="col-md-7 col-lg-8">
                <div class="clearfix"></div>
                <!--Copyright-->
                <div class="footer-copyright text-right py-3 text-white">Akshay Kumar © 2020 Copyright:
                </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0">

                <!-- Social buttons -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" routerLink="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" routerLink="">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" routerLink="">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" routerLink="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>

                        <button *ngIf="isShow" (click)="gotoTop()" style="background-color: #FF461F;position: relative; left: 100px;height: 50px; width:50px; border-radius: 50%; outline: none; "><i class="fas fa-arrow-up"></i></button>

                    </ul>
                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

</footer>

<!-- footer ends -->