<div class="container-fluid mt-2">
    <!-- As a link -->
    <nav class="navbar navbar-light" style="background-color: #a6d6f8;">
        <h4 style="font-weight: 700;color:rgb(236, 105, 17);">THE CLUB@AKS</h4>
        <p> <a routerLink="/home">Home</a> >The Club@Aks </p>
    </nav>
</div>

<div class="container">
    <div class="row row-cols-2">

        <div class="col">
            <img src="./assets/Images/sport38.jpg" class="img-fluid" alt="">

        </div>

        <div class="col">
            <h4>EXPERIENCE THE CLUB@AKS.</h4>
            <p style="text-align: justify;">Sometimes the only way to move forward is to take a step back. Refresh the mind. Rejuvenate the body. Re-fuel for the race ahead. So step back in style, with an exclusive membership at The Club@AKS.</p>

            <h4>EXPERIENCE STATE-OF-THE-ART SPORT.</h4>
            <p style="text-align: justify;">
                Located within the prestigious Akshay Kumar Centre for Sports Excellence (AKS), The Club@AKS is home to world-class facilities in Badminton, Cricket, Football, Tennis, Swimming, Squash and Basketball. Select a sport and play in an arena designed for the
                finest athletes in the country.
            </p>

            <h4>EXPERIENCE PRIVILEGE.</h4>
            <p style="text-align: justify;">The Club@AKS is your refuge from the world. Enjoy privileged access to a lively schedule of social and sporting events at AKS. Mingle with friends and family, develop social and business connections or just unwind in the elegant environs of
                our Members’ Lounge nestled atop the Clubhouse, with a panoramic view of AKS’s verdant premises. End your day at our fine dining restaurant, sipping on a drink and savouring a delicious meal crafted to tickle the palate of the most discerning
                gourmand.
            </p>

            <h4>EXPERIENCE TEAM SPIRIT.</h4>
            <p style="text-align: justify;">
                Reward your team with the benefits of an active and healthy lifestyle, with a Corporate Membership. Motivate them to take up an individual sport or participate in tailor-made group classes, team-building exercises and fitness challenges. Host corporate
                sporting events, conferences and workshops at our well-appointed meeting rooms, fully equipped Media Centre and large event venues, offered at specially discounted rates for members.
            </p>

            <img src="./assets/Images/sport39.jpg" class="img-fluid" alt="">
        </div>
    </div>
</div>

<div class="container mt-md-5">
    <h6 style="text-align: center;">For more information, contact us at</h6>
    <p style="text-align: center;"><i class="fas fa-phone-alt mr-3"></i> : +91 0101010101</p>
    <p style="text-align: center;"><i class="far fa-envelope mr-3"></i> :<a routerLink=""> info@gmail.com</a> </p>
</div>

<img src="./assets/Images/sport82.png" class="img-fluid mt-5">
<!-- footer Starts -->
<footer class="page-footer font-small mdb-color pt-4 bg-dark">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 text-white">
                <h6 class="text-uppercase mb-4 font-weight-bold">AKS ACADEMY</h6>
                <p style="text-align:justify;">The Akshay Kumar Center for Sports Excellence (AKS) is Indias's finisted integrated multi-sport complex, built to encourage sports at every level.</p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">


            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 text-white">
                <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                <p>
                    <a routerLink="/home">Home</a>
                </p>
                <p>
                    <a routerLink="/about">About</a>
                </p>
                <p>
                    <a routerLink="/facilities">Facilities</a>
                </p>
                <p>
                    <a routerLink="/academies">Academies</a>
                </p>

                <p>
                    <a routerLink="/club">The Club@AKS</a>
                </p>

                <p>
                    <a routerLink="/contact">Contact</a>
                </p>
                <p>
                    <a routerLink="/venues">Venues</a>
                </p>


            </div>

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 text-white">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                <p>
                    <i class="fas fa-map-marker-alt mr-3"></i>Banglore, BLR 555001, INDIA.</p>
                <p>
                    <i class="far fa-envelope mr-3"></i><a routerLink="">info@gmail.com</a></p>
                <p>
                    <i class="fas fa-phone-alt mr-3"></i>+ 91 0101010101</p>
                <p>
                    <i class="fas fa-phone-alt mr-3"></i>+ 91 0101010101</p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Footer links -->

        <hr>

        <!-- Grid row -->
        <div class="row d-flex align-items-center">

            <!-- Grid column -->
            <div class="col-md-7 col-lg-8">
                <div class="clearfix"></div>
                <!--Copyright-->
                <div class="footer-copyright text-right py-3 text-white">Akshay Kumar © 2020 Copyright:
                </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0">

                <!-- Social buttons -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" routerLink="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" routerLink="">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" routerLink="">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" routerLink="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>

                        <button *ngIf="isShow" (click)="gotoTop()" style="background-color: #FF461F;position: relative; left: 100px;height: 50px; width:50px; border-radius: 50%; outline: none; "><i class="fas fa-arrow-up"></i></button>

                    </ul>
                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

</footer>

<!-- footer ends -->